compiler/src/main/resources/compiler.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:element name="compileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="source" type="xs:string"/>
                <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="compileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>